@function vw($px-vw, $base-vw: 1920px) {
  @return ($px-vw * 100vw) / $base-vw
}

.text-block {
  font-family: $second-font;
  font-weight: 300;
  line-height: 2.15;
  font-size: vw(20px);
  color: $black;

  a {
    text-decoration: underline;
    font-weight: 500;
    color: $black;
  }

  *:not(img, ul, ol, li, blockquote, span, strong, br, iframe) {
    margin-bottom: vw(23px);

  }

  br {
    content: "";
    display: block;
    height: vw(30px);
  }

  *:last-child {
    margin-bottom: 0;

    strong {
      font-weight: 700;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1.2;
    color: $black;

  }


  h1 {
    font-size: vw(82px);
  }

  h2 {
    font-size: vw(60px);
  }

  h3 {
    font-size: vw(52px);
  }

  h4 {
    font-size: vw(44px);
  }

  h5,
  h6 {
    font-size: vw(34px);
  }

  a {
    text-decoration: underline;
  }

  blockquote {
    font-family: $second-font;
    background: $black;
    border-radius: vw(15px);
    font-weight: 400;
    font-size: vw($size);
    line-height: 1.3;
    text-align: center;
    color: #FFFFFF;
    padding: vw(50px) vw(90px);
    position: relative;
    z-index: 2;


    &::after, &::before {
      content: '"';
      position: absolute;
      top: vw(8px);
      left: vw(18px);
      font-size: 4em;
      font-family: Arial;
    }

    &::after {
      top: auto;
      left: auto;
      bottom: vw(8px);
      right: vw(18px);
      transform: rotate(180deg);
    }


  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .alignleft {
    float: left;
    margin-right: vw(40px);
  }

  .alignright {
    float: right;
    margin-left: vw(40px);
  }

  .aligncenter {
    margin: 0 auto;
  }

  ol, ul {
    li {
      line-height: 1.5;
      margin-bottom: vw(10px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul {
    li {
      padding-right: vw(20px);
      position: relative;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        top: vw(17px);
        right: 0;
        background: $black;
        border-radius: 50%;
        width: vw(7px);
        height: vw(7px);
      }

      ol {
        counter-reset: numUl;

        li {
          padding-left: 0;

          &::after {
            display: none;
          }

          &::before {
            counter-increment: numUl;
            content: counters(numUl, '.') '.';
            font-weight: inherit;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
          }
        }
      }
    }
  }

  ol {
    counter-reset: numOl;

    li {
      &::before {
        counter-increment: numOl;
        content: counters(numOl, '.') '.';
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
      }

      ol {
        padding-right: var(--paddingList);
      }

      ul {
        padding-right: vw(20px);

        li {
          position: relative;
          z-index: 2;


          &::before {
            display: none;
          }
        }
      }
    }
  }
}

@function vw($px-vw, $base-vw: 430px) {
  @return ($px-vw * 100vw) / $base-vw
}

@media screen and (max-width: 767px) {

  .text-block {
    font-size: vw(16px);

    h1 {
      font-size: vw(40px);
    }

    h2 {
      font-size: vw(30px);
    }

    h3 {
      font-size: vw(25px);
    }

    h4 {
      font-size: vw(23px);
    }

    h5, h6 {
      font-size: vw(20px);
    }

    *:not(img, ul, ol, li, blockquote, span, strong, br, iframe) {
      margin-bottom: vw(12px);

    }

    ol, ul {
      li {
        margin-bottom: vw(12px);
      }
    }

    img {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    ul {
      li {
        padding-right: vw(14px);
        position: relative;
        z-index: 2;

        &::after {
          content: "";
          position: absolute;
          top: vw(9px);
          right: 0;
          background: $black;
          border-radius: 50%;
          width: vw(5px);
          height: vw(5px);
        }
      }
    }

    blockquote {
      width: 100%;
      font-size: vw(18px);
      padding: vw(30px) vw(20px);
      border-radius: vw(12px);
      margin-left: 0;
      margin-right: 0;

      &::before {
        top: vw(5px);
        left: vw(5px);
      }

      &::after {
        bottom: vw(5px);
        right: vw(5px);
      }
    }
  }
}