@function vw($px-vw, $base-vw: 1400px) {
  @return ($px-vw * 100vw) / $base-vw
}

$main-font: "Manrope", sans-serif;
$second-font: "royal", sans-serif;


$main-color: #25122A;
$second-color: #473B7F;
$bg: #11144F;
$green: #87B500;
$red: #A72D23;
$text: #666666;
$pink: #FEA4D5;
$blue: #2FDADF;
$hero: #D6D0B3;
$darkblue: #00468b;
$blueop: rgba(175, 215, 255, 0.5);
$blackgreen: #2F6122;
$lightgreen: #A9CF45;
$grey: #717171;
$border: #B18BFF;
$white: #fff;
$black: #111111;
$size: 16px;

@mixin overFlow {
  overflow: hidden;
  backface-visibility: hidden;
  appearance: none;
}

@mixin flexStart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterH {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin flexCenterV {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin rtl-margin($property, $ltrproperty, $value, $value2) {
  margin-#{$property}: $value;
  margin-#{$ltrproperty}: $value2;

  [dir=rtl] & {
    margin-#{$ltrproperty}: $value;
    margin-#{$property}: $value2;
  }
}

@mixin rtl-padding($property, $ltrproperty, $value, $value2) {
  padding-#{$property}: $value;
  padding-#{$ltrproperty}: $value2;

  [dir=rtl] & {
    padding-#{$ltrproperty}: $value;
    padding-#{$property}: $value2;
  }
}

@mixin textAlign($property, $property2) {
  text-align: $property;

  [dir=rtl] & {
    text-align: $property2;
  }
}

//fonts

@mixin defaultFont {
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: 1.3;
  color: $main-color;
}

@mixin textFont {
  font-style: normal;
  font-weight: 400;
  font-size: $size;
  line-height: 1.3;
  color: $main-color;
}

body {
  @include defaultFont;
}
@mixin title {
  font-family: $second-font;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.29;
  color: $second-color;
  text-transform: uppercase;
}
@mixin mainTitle {
  font-family: $second-font;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.3;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

@mixin subtitle {
  font-family: $second-font;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.08;
  color: $black;
}


//done px


.modal-window {
  display: none;
}