@import "fonts";
@import "animations";
@import "variables";


body, html {
  margin: 0;
  font-family: $main-font;
  min-width: 320px;
  //direction: ltr;
  //background: #000;
  //overflow-x: hidden;
  //background: $black;
  //scroll-behavior: smooth;
  //&.no-scroll {
  //  overflow: hidden;
  //}

}

body {
  //overflow-x: hidden;
  max-width: 100%;

  &.fixed {
    position: fixed;
  }
}

* {
  letter-spacing: 0;
  //font-family: $main-font;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


img.lazyload, video.lazyload {
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.desk-only {
  display: flex !important;
}


.mob-only {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .desk-only {
    display: none !important;
  }
  .mob-only {
    display: flex !important;
  }
}

.is-loaded, [data-loaded="true"] {
  opacity: 0;
  visibility: visible;
  //transition: opacity 0.3s ease, visibility 0.3s ease;
  animation: faddingImgAnim 0.5s ease;
}


@keyframes faddingImgAnim {
  0% {
    visibility: hidden;
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    filter: blur(0px);
  }
}


* {
  letter-spacing: 0;
  //font-family: $main-font;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

a, button {
  cursor: pointer;
}


p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  outline: none;
  box-sizing: border-box;
  font-family: $main-font;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  font-family: $main-font;

  &.no-scroll {
    overflow: hidden;
  }
}


html {
  height: auto;
  min-height: 100%;
  font-size: 16px;
  display: flex;
}


body {
  height: auto;
  background: #fff;
}

main {
  flex-grow: 1;
  //overflow: hidden;

  display: flex;
  flex-direction: column;
  z-index: 3;
  //background: #fff;
  //transition: padding-top 0.4s ease;
}


p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #fff;
  //display: none;
  border-radius: 0px;
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: $black;
  border: none;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
}

body::-webkit-scrollbar {
  //display: none;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




@import "./details/page404";
@import "typograph";
@import "desktop";



@import "./details/header";
@import "./details/footer";
@import "./details/article";

@import "laptop";
@import "media";
@import "mobile";
