@function vw($px-vw, $base-vw: 1920px) {
  @return ($px-vw * 100vw) / $base-vw
}

:root {
  --paddingList: 24px;
  --figureOffset: vw(13px);
  --widthFigure: 4px;
  --heightFigure: 4px;
  --bgFigure: $black;
}


.arti {
  font-weight: 400;
  font-size: vw(16px);
  line-height: 1.83;
  color: $black;


  *:not(img, ul, ol, li, blockquote, a, code, span, strong, iframe, br) {
    margin-bottom: vw(30px);
  }

  *:last-child {
    margin-bottom: 0;
  }

  // br {
  //     content: "";
  //     height: 30px;
  //     display: block;
  // }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
  }

  h1 {
    font-size: vw(82px);
  }
  h2{
    font-size: vw(24px);
  }
  h3 {
    font-size: vw(20px);
  }

  h4, h5, h6 {
    font-size: vw(18px);
  }

  a {
    font-weight: 500;
    color: $main-color;
    text-decoration: underline;
  }


  blockquote {
    background: $main-color;
    border-radius: vw(20px);
    font-weight: 400;
    font-size: vw(16px);
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
    padding: vw(74px) vw(116px);
    position: relative;
    z-index: 2;
    margin: 0;

    &::before {
      content: "";
      position: absolute;
      top: vw(35px);
      left: vw(37px);
      width: vw(60px);
      height: vw(47px);
      opacity: 0.45;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='47' fill='none'%3E%3Cpath fill='%23fff' d='M20.25 22.563H5.893a21.937 21.937 0 0 1 9.482-14.967l4.363-2.925L17.057.625 12.694 3.55A26.813 26.813 0 0 0 .75 25.853v16.21a4.875 4.875 0 0 0 4.875 4.874H20.25a4.875 4.875 0 0 0 4.875-4.874V27.437a4.875 4.875 0 0 0-4.875-4.875ZM54.375 22.563H40.018A21.938 21.938 0 0 1 49.5 7.595l4.363-2.925L51.206.625 46.82 3.55a26.812 26.812 0 0 0-11.944 22.303v16.21a4.875 4.875 0 0 0 4.875 4.874h14.625a4.875 4.875 0 0 0 4.875-4.874V27.437a4.875 4.875 0 0 0-4.875-4.875Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      pointer-events: none;
    }
  }


  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .alignleft {
    float: left;
    margin-right: vw(40px);
  }

  .alignright {
    float: right;
    margin-left: vw(40px);
  }

  .aligncenter {
    margin: 0 auto;
  }

  ul {
    margin-bottom: vw(20px);

    &:last-child {
      margin-bottom: 0;
    }

    li {
      padding-right: vw(24px);
      position: relative;
      z-index: 2;
      &:has(ol) {
        padding-right: 0;
        &::after {
          content: none;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: vw(13px);
        right: 0;
        transform: translate(-50%, 0);
        width: var(--widthFigure);
        height: var(--heightFigure);
        border-radius: 50%;
        background-color: $black;
      }

      ol {
        counter-reset: numUl;

        li {
          padding-left: 0;

          &::after {
            display: none;
          }

          &::before {
            counter-increment: numUl;
            content: counters(numUl, '.') '.';
            font-weight: inherit;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
            margin-left: vw(5px);
          }
        }
      }
    }
  }

  ol {
    counter-reset: numOl;
    margin-bottom:vw(20px);

    &:last-child {
      margin-bottom: 0;
    }

    li {
      line-height: 2.34;

      &::before {
        counter-increment: numOl;
        content: counters(numOl, '.') '.';
        display: inline-block;
        margin-left: vw(5px);
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
      }

      a {
        color: $main-color;
        display: inline;
      }

      ol {
        counter-reset: numAlpha;
        padding-left: var(--paddingList);

        li {
          &::before {
            counter-increment: numAlpha;
            content: counters(numAlpha, '.', lower-alpha) '.';
          }
        }
      }

      ul {
        padding-right: var(--paddingList);

        li {
          padding-right: var(--paddingList);
          position: relative;
          z-index: 2;

          &::after {
            content: "";
            position: absolute;
            top: var(--figureOffset);
            right: 0;
            width: var(--widthFigure);
            height: var(--heightFigure);
            border-radius: 50%;
            background-color: var(--bgFigure);
          }

          &::before {
            display: none;
          }
        }
      }
    }
  }

  table {
    border-collapse: collapse;

    tr,
    th,
    td {
      border: 1px solid $main-color;
    }

    th {
      font-weight: 400;
      line-height: 1.83;
      font-size: vw(16px);
      color: $black;
      background: $hero;
      padding: vw(6px) vw(20px);
      vertical-align: top;
      text-align: left;
    }

    td {
      font-weight: 400;
      line-height: 1.83;
      font-size: vw(15px);
      color: $black;
      vertical-align: top;
      padding: vw(13px) vw(20px);
    }
  }
}

@function vw($px-vw, $base-vw: 390px) {
  @return ($px-vw * 100vw) / $base-vw
}

@media screen and (max-width: 767px) {
  :root {
    --paddingList: 20px;
    --figureOffset: 13px;
    --widthFigure: 4px;
    --heightFigure: 4px;
  }
  .article ul li, .seo-text ul li {
    padding-right: var(--paddingList);
  }
  .article ul li::after, .seo-text ul li::after {
    content: "";
    position: absolute;
    top: vw(13px);
    right: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: var(--widthFigure);
    height: var(--heightFigure);
    border-radius: 50%;
    background-color: #000;
  }
  .article, .seo-text {
    font-size: vw(14px);


    *:not(img, ul, ol, li, blockquote, a, code, span, strong, iframe, br) {
      margin-bottom:vw(20px);
    }
    iframe {
      width: 100%;
      height: 260px;
    }

    // br {
    //     height: 4.0000vw;
    // }

    h1 {
      font-size: vw(28px);
    }

    h2, h3 {
      font-size: vw(20px);
    }

    h4, h5, h6 {
      font-size: vw(18px);
    }


    blockquote {
      border-radius: vw(20px);
      font-size: vw(16px);
      line-height: 1.5;
      padding: vw(20px) vw(30px);

      &::before {
        top: vw(5px);
        left: vw(5px);
        width: vw(20px);
        height: 8.0000vw;
      }
    }






    .alignleft,
    .alignright,
    .aligncenter {
      float: unset;
      margin: 0 auto;
    }


    img {
      width: 100%;
      margin: 0;
      max-width: unset;
      height: auto;
      object-fit: contain;
    }


    ul {
      li {
        ol {
          li {
            &::before {
              margin-left: vw(4px);
            }
          }
        }
      }
    }

    ol {
      li {
        &::before {
          margin-left: vw(5px);
        }
      }
    }

    table {
      th {
        line-height: 1.38;
        font-size: vw(14px);
        padding: vw(6px) vw(7px);
        vertical-align: middle;
      }

      td {
        line-height: 1.38;
        font-size: vw(16px);
        padding: vw(6px) vw(7px);
      }
    }

  }
}